html {
  font: 14px system-ui;
}

#guests {
  list-style: none;
  padding: 0;
}

#guests > li {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0.25em;
}

#guests > li:not(:last-child) {
  border-bottom: none;
}

#guests .guestId {
  background: #88f;
  color: white;
  padding: 0.15em 0.5em;
  margin-right: 0.5em;
  border-radius: 0.25em;
  width: 1em;
  text-align: center;
}

.unfresh {
  transition: opacity 2s linear;
  opacity: 0.3;
}

#soundCues {
  list-style: none;
  padding: 0;
  display: flex;
}

#soundCues > li {
  border: 1px solid black;
  border-radius: 0.75em;
  padding: 1em;
  width: 20em;
}

#soundCues > li h1 {
  margin: 0;
  font-size: 1.75em;
}

#soundCues > li .buttons {
  display: flex;
  margin-top: 0.5em;
}

#soundCues > li button {
  font: inherit;
  font-size: 1.3em;
  flex: 1;
  margin: 0 0.25em;
  height: 2em;
  border: none;
}

#soundCues .time {
  margin: 0.75em;
  font-size: 1.5em;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

#soundCues .startButton {
  background: green;
  color: white;
}

#soundCues .stopButton {
  background: #c00;
  color: white;
}

#soundCues button:disabled {
  background: #aaa;
}

#soundCues .volume {
  width: 100%;
  margin: 0.5em 0;
}
